<mtapp:setting
    id="hatena_username"
    label="<__trans phrase="Hatena Username">">
    <input name="hatena_username" id="hatena_username" size="20" value="<TMPL_VAR NAME=HATENA_USERNAME ESCAPE=HTML>" />
</mtapp:setting>
<mtapp:setting
    id="hatena_password"
    label="<__trans phrase="Hatena Password">">
    <input type="password" name="hatena_password" id="hatena_password" size="20" value="<TMPL_VAR NAME=HATENA_PASSWORD ESCAPE=HTML>" />
</mtapp:setting>
<mtapp:setting
    id="hatena_bm_title"
    label="<__trans phrase="Bookmark Title Format">">
    <input name="hatena_bm_title" id="hatena_bm_title" size="50" value="<TMPL_VAR NAME=HATENA_BM_TITLE ESCAPE=HTML>" />
</mtapp:setting>
